
<form action="/artist-search" method="GET">
    {{!-- <label for="">Artist Name:</label> --}}
    <input type="text" name="artistname">
    <br/>
    <button type="submit">Search for an Artist</button>
</form>